.master-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
}

.duck-pic {
  width: 30vw;
  height: 30vh;
  border: 1px solid black;
  object-fit: cover;
}