.master-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
}

#main-text {
  font-size: 3.5rem;
  height: 0rem;
  color: rgb(175, 252, 175);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0 0 0;
}

.duck-pic {
  display: flex;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  border-radius: .5rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.363) 2.4px 2.4px 3.2px;
  border: 0.2rem solid rgb(175, 252, 175);
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
  cursor: pointer;
}

#btn-actl {
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.2rem solid rgb(175, 252, 175);
  color: rgb(175, 252, 175);
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.5s ease;
  font-family: "Tiny5", sans-serif;
}

#btn-actl:hover {
  cursor: pointer;
  box-shadow: rgba(122, 122, 122, 0.616) 0px 3px 23px;
}